.contacts__icons {
  display: flex;
  margin: 0;
}

.header .contacts__icons {
  padding-left: 48px;
}

.footer .contacts__icons {
  justify-content: flex-end;
  margin: 21px 0 20px 0;
}

@media screen and (max-width: 1199px) {
  .header .contacts__icons {
    padding-left: 27px;
  }
}

@media screen and (max-width: 991px) {
  .header .contacts__icons {
    padding: 10px 0 0 0;
    align-self: flex-end;
  }
}

@media screen and (max-width: 480px) {
  .footer .contacts__icons {
    padding: 0;
    justify-content: flex-start;
    margin: 11px 0 13px 0;
  }
}
