.gradient {
  position: absolute;
  z-index: -1;
  height: 62px;
  width: 62px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  background: url("../../images/red\ ball.svg");
  background-size: cover;
  top: 547px;
  left: 851px;
}
