.footer {
  display: flex;
  justify-content: flex-start;
  margin: 69px 0 0 0;
  padding: 55px 0 0 0;
  position: relative;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 10px 10px 20px 10px;
  }
}

@media screen and (max-width: 680px) {
  .footer {
    background-color: #1e1e1e;
    flex-direction: column;
    margin: 59px 0 0 0;
  }
}
