.footer__copyright-rights {
  font-weight: 500;
  font-size: 12px;
  font-family: "Montserrat", Arial, sans-serif;
  margin: 0;
}

@media screen and (max-width: 680px) {
  .footer__copyright-rights {
    padding-bottom: 5px;
    width: 300px;
  }
}
