.contacts {
  display: flex;
}

.header .contacts {
  margin: 0 0 0 auto;
}

@media screen and (max-width: 991px) {
  .contacts {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .header .contacts {
    display: none;
  }
}
