.consult__title {
  text-align: right;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 40px 0;
}

@media screen and (max-width: 680px) {
  .consult__title {
    text-align: left;
  }
}

@media screen and (max-width: 480px) {
  .consult__title {
    margin: 0 0 20px 0;
  }
}
