.header {
  width: 100%;
  margin-bottom: 90px;
  display: flex;
  box-sizing: border-box;
  padding-top: 15px;
}

@media screen and (max-width: 767px) {
  .header {
    margin-bottom: 69px;
    padding: 20px 10px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 680px) {
  .header {
    background-color: #1e1e1e;
    justify-content: center;
    margin-bottom: 40px;
  }
}
